<div class="header-container">
    <div class="description">
        <div class="title">
            <span>پروژه آموزشی ساخت آپلودر در انگولار</span>
        </div>
        <div>
            توجه داشته باشید که برای تست این پروژه حتما باید سرور خود را اجرا کنید.
            <br/> همچنین آدرس درخواست را در سرویس آپلود به آدرسی که سرور شما در آن در حال اجرا است تغییر دهید.
            <br/> این پروژه کاملا آزاد، متن باز، و رایگان است.
        </div>
        <div>
            <a href="https://mrdimaan.com" target="_blank">
                <button mat-raised-button color="accent">وبسایت من</button>
            </a>
            <button mat-raised-button color="accent" (click)="openDialog()">تست آپلودر</button>
            <a href="https://github.com/mrdimaan/Angular-uploader" target="_blank">
                <button mat-raised-button color="accent">مخزن گیت‌هاب</button>
            </a>
        </div>
    </div>
</div>
